nbproject/private
.DS_Store
build
*.so
*.o
*.a
.kdev4
.idea
cmake-build-debug
inside
RInside
Rcpp
vendor/antlr/build
vendor/antlr/run
vendor/antlr/antlr-src
!vendor/antlr/lib/libantlr4-runtime.a

\.vscode/
