[submodule "rc2root"]
	path = rc2root
	url = https://github.com/rc2server/rc2.git
[submodule "vendor/json-schema-validator"]
	path = vendor/json-schema-validator
	url = https://github.com/pboettch/json-schema-validator.git
[submodule "vendor/g3log"]
	path = vendor/g3log
	url = https://github.com/KjellKod/g3log.git
