[submodule "rc2root"]
	path = rc2root
	url = https://github.com/rc2server/rc2.git
[submodule "vendor/json-schema-validator"]
	path = vendor/json-schema-validator
	url = https://github.com/pboettch/json-schema-validator.git
[submodule "Rc2Parser"]
	path = Rc2Parser
	url = https://github.com/rc2server/Rc2Parser.git
[submodule "vendor/cpp-base64"]
	path = vendor/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
